<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Script Annotation</title>

    <link rel="stylesheet" href="//unpkg.com/bootstrap@4/dist/css/bootstrap.min.css">
    <script src='//unpkg.com/jquery@3/dist/jquery.min.js'></script>
    <script src='//unpkg.com/popper.js@1/dist/umd/popper.min.js'></script>
    <script src='//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js'></script>
{#    <link rel="Stylesheet" href="{% static 'tokenizer/main.css' %}">#}

</head>


<style>

img {width:100%;}
</style>


<script>

</script>



<body>



<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="pb-4">Reset Password</h4>
                <h5 class="pb-4">Please enter your ID and E-mail address</h5>
                <form method="POST" class="needs-validation" id="form_forgot" novalidate>
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="user_id">User ID</label>
                            <input type="text" id="user_id" name="user_id" class="form-control" placeholder="User ID" value="{{user_id}}" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="Email" value="{{email}}" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="btn btn-danger" onclick="validity_check()">Enter</button>
                        &nbsp;&nbsp;{{error}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>