<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Script Annotation</title>

    <link rel="stylesheet" href="//unpkg.com/bootstrap@4/dist/css/bootstrap.min.css">
    <script src='//unpkg.com/jquery@3/dist/jquery.min.js'></script>
    <script src='//unpkg.com/popper.js@1/dist/umd/popper.min.js'></script>
    <script src='//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js'></script>
{#    <link rel="Stylesheet" href="{% static 'tokenizer/main.css' %}">#}

</head>


<style>

img {width:100%;}
</style>


<script>
function validity_check() {

    var password1 = document.getElementById("password1").value
    var password2 = document.getElementById("password2").value

    var password1_valid = false
    var password2_valid = false

    // password check
    var password1_class = document.getElementById("password1").classList
    var password2_class = document.getElementById("password2").classList
    password1_class.remove("is-valid", "is-invalid")
    password2_class.remove("is-valid", "is-invalid")
    if (/[0-9]/.test(password1) != true || /[a-zA-Z]/.test(password1) != true || password1.length < 8) {
        document.getElementById("password1_invalid").innerHTML = "영문자, 숫자를 포함한 8자리 이상의 비밀번호를 입력해 주세요.";
        password1_class.add("is-invalid");
    } else if (password1 != password2) {
        document.getElementById("password1_invalid").innerHTML = "비밀번호가 일치하지 않습니다.";
        password1_class.add("is-invalid");
        password2_class.add("is-invalid");
    } else if (password1.length > 100) {
        document.getElementById("password1_invalid").innerHTML = "It's too long!"
        password1_class.add("is-invalid");
        password2_class.add("is-invalid");
    } else {
        password1_class.add("is-valid");
        password2_class.add("is-valid");
        password1_valid = true
        password2_valid = true
    }


    // 모두 정상이면 submit
    if (password1_valid &&
        password2_valid) {
        console.log('submit')
        $('#form_reset').submit();
    }

};
</script>



<body>



<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="pb-4">Reset Password</h4>
                <h5 class="pb-4">Please enter your new password</h5>
                <form method="POST" action="{% url 'reset_password' %}" class="needs-validation" id="form_reset" novalidate>
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="password1">Password</label>
                            <input type="password" id="password1" name="password1" class="form-control" placeholder="Password" required>
                            <div id="password1_valid" class="valid-feedback">Looks good!</div>
                            <div id="password1_invalid" class="invalid-feedback">bad</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="password" id="password2" name="password2" class="form-control" placeholder="Repeat Your Password" required>
                            <div id="password2_valid" class="valid-feedback"></div>
                            <div id="password2_invalid" class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="button" class="btn btn-danger" onclick="validity_check()">Reset</button>
                    </div>
                    <input type="text" id="user_id" name="user_id" value="{{user_id}}" hidden>
                    <input type="text" id="email" name="email" value="{{email}}" hidden>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>